@media screen and (max-width:700px){
    header.container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 8px;
        width: 210px;
    }

    header nav {
        position: absolute;
        margin-left: 180px;
  
    }

    header nav a {
        
    }

}


@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}